<h1>Your Beers</h1>

<%= paginate @beers %>

<div class="beer-list">
  <ul>
    <% @beers.each do |beer| %>
      <div class="show-<%= beer.name %>">
        <li><a href='/beers/<%= beer.id %>'><%= beer.name %></a></li>
        <%= button_to 'Update', edit_beer_path(beer.id), method: :get %>
        <%= button_to 'Delete', beer_path(beer.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </ul>
</div>

<%= paginate @beers %>

<div class="no-beers-added">
  <% if @beers == [] %>
    <h3>You haven't added any beers yet!</h3>
  <% end %>
</div>
