<h1><%= @beer.name %></h1>

<ul>
  <li>Brewer: <%= @beer.brewer %></li>
  <li>Style: <%= @beer.style %></li>
  <li>Brewing Country: <%= @beer.brewing_country %></li>
  <li>ABV: <%= @beer.abv %>%</li>
</ul>



<%= simple_form_for([@beer, @review]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if current_user == nil %>
      <%= f.input :body, required: true, input_html: { value: 'Log in to add reviews', class: 'review_box' }, label: false, disabled: true %>
    <% else %>
      <%= f.input :body, required: true, input_html: { class: 'review-box' }, label: false %>
    <% end %>
  </div>

  <div class="form-actions">
    <% if current_user == nil %>
      <%= f.button :submit, "Add Review", disabled: true %>
    <% else %>
      <%= f.button :submit, "Add Review" %>
    <% end %>
  </div>
<% end %>
