<h1><%= @beer.name %></h1>

<ul>
  <li>Brewer: <%= @beer.brewer %></li>
  <li>Style: <%= @beer.style %></li>
  <li>Brewing Country: <%= @beer.brewing_country %></li>
  <li>ABV: <%= @beer.abv %>%</li>
</ul>
